
























.intro-title{
	font-size: 24px;
	font-weight: bolder;

}

.intro-image{
margin-right: 50px;
width: 40vw;
}

.title-text{
	font-family: 'Roboto';
	color: #91D0B6;
	font-size: 48px;
	font-weight: bold;

}
.sub-title-text{

font-size: 24px;
font-weight: bolder;

}

.ack-1 {
	font-size: 18px;
}

.bolder{
	font-weight: bolder;;
}













.light-green-bg{
	background-color: #E3F3ED !important;
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

.margins{
	padding-left: 200px;
	padding-right: 200px;
}

.keys{
	color: #21735A;
	font-size: 36px;
	font-weight: bolder;
	margin-left: 200px !important;

}
.info-stuff{
	color: #21735A;
	margin-left: 200px !important;
	margin-right: 200px !important;
}

.title-sub{
	font-size: 24px;
}



.title-image-new{
	max-width: 100%;
}


.new-light-green{
	color: #55AA91;
}




.new-image-file{
	max-width: 80%;
	margin-left: 30px;
	margin-top: 30px;
}





.description-40{
	font-size: 18;
}


.mild-green-background{
	background-color: #ACD6C9;
	
}


.special-border{
	padding: 20px;
	border: 4px solid #64B49A;
}

.test-description{
	font-size: 22px;
	color: #55AA91;
	font-style: italic;
}

.scaled-image{
	max-width: 90%;
}

.force-margin{
	margin-left: 200px !important;
}

.green-description-text{
	font-size: 24px;
	color: #21735A;
}

























































































.theme-image{
	height: 540px;
}

.how-might-image{
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
}

.pit-image{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}